.key {
  padding: 15px;
  margin: 5px;
  float: left;
}

#calculation-division{
  width: 18vw;
}

#display{
  width: 85%;
  padding: 3px;
  margin-left: 4px;
  text-align: center;
}

.highlight{
  background-color: aqua;
}